@page "/"

<PageTitle>Plutus</PageTitle>

<h1>Welcome to the new beginning</h1>

<button id="Login" @onclick="CreateAccount">CreateAccount</button>

@if(_accountCreated)
{
    <h5>Wallet ID: @account.WalletId</h5>
    <h5>Type: @account.Type</h5>
    <h5>Description: @account.Description</h5>
    <h5>Balances:</h5>
    @foreach(var balance in account.Balances)
    {
        <h6>Amount: @balance.Amount</h6>
        <h6>Currency: @balance.Currency</h6>
    }
}