@page "/Account/Create"
@inherits BlazorStateComponent

<NavLink class="nav-link" href="">
    <span class="oi oi-arrow-left" aria-hidden="true"></span> Home
</NavLink>
<h3>Create Account</h3>

<MudTextField @bind-Value="WalletName" InputType="InputType.Text" Placeholder="Wallet Name"/>

<MudTextField @bind-Value="Email" InputType="InputType.Email" Placeholder="Email" />

<MudTextField @bind-Value="Password" InputType="InputType.Password" Placeholder="Password" />
<br />
    
<MudButton id="Login" Variant="Variant.Filled" Color="Color.Primary" OnClick="OnClick_CreateAccount">Create Account</MudButton>


@*@if(_accountCreated)
{

    <h5>Wallet ID: @Account.Wallet.WalletId</h5>
    <h5>Type: @Account.Wallet.Type</h5>
    <h5>Description: @Account.Wallet.Description</h5>
    <h5>Balances:</h5>
    @foreach(var balance in Account.Wallet.Balances)
    {
        <h6>Amount: @balance.Amount</h6>
        <h6>Currency: @balance.Currency</h6>
    }

    <br/>
    <br/>

    <button onclick="FundWallet">Fund wallet</button>
}
*@